@import '../../App.scss';
.Education{
    padding:5rem 3rem;
    .a{
    display: flex;
    //padding: 70px 300px 70px 330px;
    margin: 0 auto;
    max-width: 900px;
    }
    .education{
        height: auto;
        //width: 50%;
        h1{
            color:rgba(94,113,221,255);
            font-size: 45px;
        }
        h2{
            color:rgba(94,113,221,255);
        font-size: 25px;
        margin-top: 20px;
        }
        h3{
            font-size: 20px;
            margin-top: 40px;
        }
        p{
            font-size: 18px;
            font-family:  'Dancing Script', cursive;
        }
    }
    .experience{
        margin-left: 140px;
        height: auto;
        //width: 50%;
        h1{
            color:rgba(94,113,221,255);
            font-size: 45px;
        }
        h2{
            color:rgba(94,113,221,255);
        font-size: 25px;
        margin-top: 20px;
        }
        p{
            font-size: 18px;
            font-family:  'Dancing Script', cursive;
            margin-top: 60px;
        }
    }

@media screen  and(max-width:900px){
    padding-left: 0;
    margin-left: 0px;
    display: inline-block;
}
}
@media screen  and(max-width:900px){
    .Education{
    .a{
    padding-left: 0;
    margin-left: 0px;
    display: block;
    padding: 50px;
    .experience{
        margin-left: 0;
        margin-top: 15px;
    }
    }
    //overflow-x: hidden;
}
}

