@import '../../App.scss';
.About{
    background-color: rgba(238,240,251,255);
   // padding: 70px 450px 70px 330px;
   .About-content{
       max-width: 900px;
       margin: 0 auto;
       padding:3rem 2rem;
   }
   
    h1{
        color:rgba(94,113,221,255);
        font-size: 45px;
    }
    h3{
        color:rgba(94,113,221,255);
        font-size: 25px;
        margin-top: 20px;
    }
    p{
        font-size: 20px;
        margin-top: 50px;
        font-family:  'Dancing Script', cursive;
    }
    @media screen  and(max-width:900px){
        flex-direction: column;
        padding: 0;
        padding-top: 215px;
        padding-bottom: 50px;
    }
}