@import '../../App.scss';
.all{
    padding:5rem 3rem;
    //padding: 70px 300px 70px 330px;
    .content{
        display: flex;
        max-width: 900px;
        margin:0 auto;
    }
    .award{
        height: auto;
        //width: 50%;
        h1{
            color:rgba(94,113,221,255);
            font-size: 45px;
        }
        h2{
            color:rgba(94,113,221,255);
        font-size: 25px;
        margin-top: 20px;
    }
    p{
        font-size: 18px;
        font-family:  'Dancing Script', cursive;
        margin-top: 20px;
    }
}
.interests{
    height: auto;
        //width: 50%;
        h1{
            color:rgba(94,113,221,255);
            font-size: 45px;
        }
        h2{
            color:rgba(94,113,221,255);
        font-size: 25px;
        margin-top: 20px;
    }
    .col{
        display: flex;
        .col1{
            p{
                font-size: 18px;
        font-family:  'Dancing Script', cursive;
        margin-top: 20px;
        width: 50%;
            }
        }
        .col2{
            p{
                font-size: 18px;
        font-family:  'Dancing Script', cursive;
        margin-top: 20px;
        width: 50%;
            }
        }
    }

}

}
@media screen  and(max-width:900px){ 
    .all{
    .content{
    padding-left: 0;
    margin-left: 0px;
    display: block;
    padding: 0px;
    .award{
        margin-left: 0px;
        margin-top: 15px;
    }
    .interests{
        margin-left: 0px;
        margin-top: 15px;
    }
    }
}
}